.input-container {
  position: relative;
  text-align: left;
  margin: 15px 0;
}

.input-container > label {
  margin: 5px 0px;
  color: aliceblue;
}

.input-container > input {
  width: 100%;
  padding: 10px 40px;
  height: 50px;
  background: #42474b;
  border-bottom-color: rgb(240, 98, 73);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  place-content: rgb(240, 98, 73);
  border-radius: 3px;
  color: white;
}

.input-container > input:focus {
  outline: 0;
}

.input-container > #input:focus {
  outline: none;
}

.input-container > .input-icon {
  position: absolute;
  color: wheat;
  z-index: 2;
  text-align: left;
  top: 48px;
  left: 15px;
}

