.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.special-btn {
  padding: 15px 50px;
  border: 0px;
  border-radius: 50px;
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.pink {
  background: rgb(252, 66, 113);
}

.clickable {
  cursor: pointer;
}
.background-container {
  background: #343a40;
  min-height: 100vh;
  height: fit-content;
}

.main-header{
  color: #ccc;
  font: 50px italic;
  margin-bottom: 20px;

  animation-name: drop-top;
  animation-duration: 1s;
}

@keyframes drop-top {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#split-line {
  width:1px;
  background-color:rgb(23, 23, 23);
  position: absolute;
  height: 100%;
}