# dependencies
/frontend/build
/frontend/node_modules/

node_modules/

password.txt

.vscode/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vscode
