.list-item {
  text-align: left;
  background: #42474b;
  color: white;
  font-size: 14px;
}

.list-item-active {
  border-left-color: rgb(240, 98, 73);
  border-left-width: 2px;
  transition: 0.3s ease-in;
}