.card-box{
    text-align: left;
    margin: 15px 0px;
}
.card-box > p {
    margin: -40px 5px 0px 5px;
    color: white;
}
.card-box > div > img {
    border-radius: 5px;
    height: 300px;
    width: 100%;
    box-shadow: -8px 8px #26252544;
}
.card-box:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.card-box > small {
    margin: 5px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}
.card-box > span {
    position: relative;
    display: block;
    background: rgb(230, 158, 24);
    height: 60px;
    padding: 18px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    top: -100px;
    z-index: 3;
    left: 80%;

    color: white;
    font-weight: 700;
}