.card-container {
    text-align: left;
    height: 300px;
    margin: 50px 0px;
    transition: 1s ease-in-out;
    position: relative;
}

.thecard {
    position: absolute;
    width: 90%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s ease-in-out;
}
.details {
    top: 310px;
    position: absolute;
}
.details > p {
    margin: 0px;
    color: white;
}
.details > small {
    margin: 5px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}
.front-card > img {
    border-radius: 5px;
    height: 300px;
    width: 100%;
    box-shadow: -8px 8px #26252544;
}

.front-card > span {
    position: relative;
    display: block;
    background: rgb(230, 158, 24);
    height: 60px;
    padding: 18px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    top: -100px;
    backface-visibility: hidden;
    left: 80%;
    color: white;
    font-weight: 700;
}

.front-card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: rgb(67, 67, 67);
}
.back-card {
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(52, 49, 49);
    border-radius: 5px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.back-card > span {
    position: absolute;
    top: -10px;
    right: -10px;
}
.back-card > span > i {
    color: rgb(235, 65, 65);
}
.back-card > p {
    font-size: 9px;
    word-spacing: 1.5px;
    color: #cccccc;
}
.back-card > h5 {
    margin-bottom: 4px;
    font-size: 16px;
    color: #cccccc;
}

.show-card {
    z-index: 3;
    transform: scale(1.7);
}
.show-card > .thecard {
    transform: rotateY(180deg);
}