.page-active{
    background: rgb(240, 98, 73) !important;
    transition: 0.2s ease-in-out;
}
#pageNav{
    background: none !important;
}
.page-btn {
    height: 50px;
    width: 70px;
    border-radius: 5px;
    margin: 0px 5px;
    background: #42474b;
    color: white;
}
li{
    padding: 13px;
}