.input-container {
  position: relative;
  text-align: left;
  margin: 15px 0;
}


.input-container>label {
  margin: 5px 0px;
  color: aliceblue;
}

.input-container>select {
  width: 100%;
  padding: 10px 50px;
  height: 50px;
  -webkit-appearance: none;
  background: #42474b;
  border-bottom-color: rgb(240, 98, 73);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  place-content: rgb(240, 98, 73);
  border-radius: 3px;
  color: white;
}

.input-container>select>option {
  padding: 10px 40px;
}

.input-container>select:focus {
  outline: 0;
}


.input-icon {
  position: absolute;
  color: wheat;
  z-index: 2;
  text-align: left;
  top: 50px;
  left: 15px;
}