.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front>img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* 
.front>span {
  position: absolute;
  display: block;
  background: rgb(230, 158, 24);
  height: 60px;
  padding: 18px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  bottom: 80px;
  backface-visibility: hidden;
  left: 80%;
  color: white;
  font-weight: 700;
} */

.card-footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: #1e1b26;
}

.card-footer>button,
i {
  color: rgb(240, 98, 73);
  border-color: rgb(240, 98, 73);
}

.card-footer>i {
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.card-footer>button {
  position: absolute;
  background: transparent;
  border-radius: 5px;
  bottom: 20px;
  left: 15px;
}

.card-footer>button:hover {
  cursor: pointer;
  background: rgb(240, 98, 73);
  color: white;
}

.card-footer>h4 {
  margin: 2px 0;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.card-footer>h5 {
  margin: 2px 0;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.card-footer>p {
  text-align: left;
  font-weight: 100;
  font-size: 11px;
  color: rgb(255, 255, 255);
}