.card-container {
  position: relative;
  width: 275px;
  height: 375px;
  perspective: 1000px;
}

.card-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}

.flipped {
  transform: rotateY(180deg);
}