.ico-btn {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border-radius: 50%;
  color: white;
}

.ico-btn:hover {
  background-color: rgba(255, 255, 255, 0.14);
}

.ico-btn__burger,
.ico-btn__burger::before,
.ico-btn__burger::after {
  width: 20px;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.ico-btn__burger::before {
  content: "";
  position: absolute;
  transform: translateY(-6px);
}

.ico-btn__burger::after {
  content: "";
  position: absolute;
  transform: translateY(6px);
}

.ico-btn.is-active .ico-btn__burger {
  background: transparent;
}

.ico-btn.is-active .ico-btn__burger::before {
  transform: rotate(-45deg);
}

.ico-btn.is-active .ico-btn__burger::after {
  transform: rotate(45deg);
}

.ico-btn.is-active {
  transform: rotate(360deg);
}

.nav-wrapper {
  position: fixed;
  height: 70px;
  z-index: 9;
  background: rgb(27, 30, 45);
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.nav {
  margin: 30px 0;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  grid-column-gap: 25px;
}

.nav > li {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100px;
  z-index: 888;
  background: rgba(0, 0, 0, 1);
  transition: 0.5s ease-in-out;
  transform: translateY(-200vh);
}

.active {
  transform: translateY(0);
}

.burger {
  z-index: 999;
  margin: auto 0 auto 20px;
  cursor: pointer;
}

.list {
  display: grid;
  position: relative;
  margin: 100px auto;
  width: 400px;
}

@media only screen and (max-width: 720px) {
  .list {
    position: absolute;
    width: 80%;
  }
}

@keyframes listItemFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.list > a {
  opacity: 0;
  color: white;
  padding: 20px 0 20px 0;
  text-transform: capitalize;
  list-style-type: none;
  border-bottom: 0.1px solid rgb(240, 98, 73);
}

