.movies-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  justify-items: center;
  grid-row-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .movies-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}